{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "styles": "sass/"
                },
                "cwd": "babelrc"
            }
        ],
        [
            "wrap-in-js",
            {
                "extensions": ["css$", "sass"]
            }
        ]
    ],
    "presets": ["next/babel"],
    "ignore": []
}